/* responsive */
@media screen and (max-width:900px){
    #main-continer{
        margin-top:2.5em;
        margin-left:5%;
        margin-right:5%;
        width:90%;
        height:35rem;
    }
    /* FIRST PAGE STYLE */
    #header{
        margin-top:2rem;
        margin-bottom:2rem;
        justify-content: space-between;
    }
    #header p{
        font-weight:700;
        font-size:2rem;
        margin:0;
        margin-right:25%;
    }
    #header small{
        font-weight:100;
    }
    #plus-icon{
        display:inline-block;
        color:#f44336;
        font-size:2rem;
        margin-left:4rem;
    }
    .page1-boxes{
        border:0.07rem solid #EF5350;
        border-radius:5px;
        width:90%;
        height: 5.6vh;
        text-align:left;
        box-shadow:0.32rem 0.32rem  0.4em lightgrey;
        margin-left:0.5em;
        margin-bottom:1em;
        font-weight:100;
        font-size:1em;
        color:#424242;
    }
    div .page1-boxes p{
        margin-left:1.5em;
        margin-top:1em;
        font-size: 500;
        color: black;
        border-bottom: #E53935;
    }

    /* PAGE LINKER */
    #page-linker{
        margin-top:2rem;
        font-size:1rem;
        text-align:center;
        margin-right:2rem;
    }

    /* SECOND PAGE STYLE */
    #page2-header {
        margin-top:2rem;
        font-weight:700;
        font-size:2rem;
        color:#424242;
    }
    #page2-backicon{
        color:#f44336;
        margin-right:1rem;
    }
    .page2-box{
        border:0.07rem solid #EF5350;
        border-radius:0.32rem;
        box-shadow:0.32rem 0.32rem  0.4em lightgrey;
        width:15rem;
        height:21rem;
        margin:auto;
        margin-top:2rem ;
        position: relative;
    }
    div .page2-box h3{
        color:#f44336;
        font-size:1.5rem;
        font-weight:200;
    }
    div.page2-box hr{
        width:75%;
        float:right;
    }
    div .page2-box h4{
        color:#f44336;
        text-decoration:line-through;
        font-size:1.1rem;
        margin-left:1rem;
    }
    div .page2-box input{
        width:1rem;
        height:1rem;
        float:left;
        margin-left:2rem;
        margin-right:0;
        display:inline;

    }
    div .page2-box p{
        color:#424242;
        display:inline;
        font-size:1.2rem;
        margin-left:0;
        margin-right:3.5rem;
     }
     #page2-plusicon{
        color:#f44336;
        font-size:2rem;
        position: absolute;
        left:12.2rem;
        top:18rem;
    }

    /* third page style */
    #page3-continer{
        position:absolute;
        top:12rem;
        left:8%;
        border:0.1rem solid #EF5350;
        border-radius:0.8rem;
        box-shadow:0.5rem 0.5rem  0.5em lightgrey;
        width:16rem;
        height:10rem;
        background-color:white;
    }
    div #page3-continer h3{
        font-weight:100;
        font-size:1.2rem;
        color:#EF5350;
        margin-bottom:1rem;
        margin-top:2rem;
    }
    #input-text-box{
        border:0.07rem solid #EF5350;
       
        border-radius:0.4rem;
        box-shadow:0.3rem 0.3rem  0.4rem  lightgrey;
        width:60%;
        height:1.5rem;
        
    }
    #page3-button{
        margin-top:1rem;
        background-color:#E53935;
        border:0.05rem solid #EF5350;
        border-radius:1rem;
        color:white;
        width:25%;
        height:2rem;
        font-weight:100;
        font-size:0.8rem;
    }

}