body{
    background-color: whitesmoke;
}
#main-continer{
    background-color:white;	;
    border:1px solid lightgrey;
    margin-top:3em;
    margin-left:5%;
    width:90%;
    height:37.5rem;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
}
/* first page style */
#page1-continer{   
    margin-top:1em;
}

#header{
    justify-content: space-between;
    text-align:center;
    margin-top:4rem;
    margin-bottom:5rem;
}
#header p{
    display:inline-block;
    font-weight:700;
    font-size:4rem;
    margin:0;
    text-align:center;
    margin-right:45rem;
}
#header small{
    font-weight:100;
}
#plus-icon{
    display:inline-block;
    color:#f44336;
    font-size:3.5rem;
    margin-left:4rem;
}
#page1-body{
    margin-left:0;
    margin-top:0;
}
.page1-boxes{
    display:inline-block;
    border:0.07rem solid #EF5350;
    border-radius:0.32rem;
    width:12rem;
    height:15rem;
    text-align:left;
    box-shadow:0.32rem 0.32rem  0.4em lightgrey;
    margin-left:2em;
    font-weight:200;
    font-size:1.5em;
    color:#424242;
}
div .page1-boxes p{
    border-bottom: 2px solid #424242;
    margin-left:25px;
    margin-top:20px;
}

/* second page style */
.page2-header {
    display: inline-flex;
    margin-top:0.8em;
    font-weight:700;
    font-size:2.5rem;
    color:#424242;
}
#page2-backicon{
    color:#f44336;
    margin-right:1rem;
}
.page2-box{
    border:0.07rem solid #EF5350;
    border-radius:0.32rem;
    box-shadow:0.32rem 0.32rem  0.4em lightgrey;
    width:18rem;
    height:20rem;
    margin:auto;
    margin-top:2rem ;
    position: relative;
}
div .page2-box h3{
    color:#f44336;
    font-size:1.5rem;
    font-weight:200;
}
div.page2-box hr{
    width:75%;
    float:right;
}
div .page2-box h4{
    color:#f44336;
    text-decoration:line-through;
    font-size:1.1rem;
    margin-left:1rem;
}
div .page2-box input{
    width:1.2rem;
    height:1.2rem;
    float:left;
    margin-left:2rem;
}
div .page2-box p{
    color:#424242;
    display:inline;
    font-size:1.5rem;
    margin-right:5.3rem;
 }
 #page2-plusicon{
    color:#f44336;
    font-size:2.5rem;
    position: absolute;
    left:14.5rem;
    top:16.5rem;
}

/* Page No. 3 */
.refernce{
    position: relative;
}
.blure{
    filter:blur(5px);
}
#page3-continer{
    position:absolute;
    top:14rem;
    margin-left:15%;
    border:0.1rem solid #EF5350;
    border-radius:0.4rem;
    box-shadow:0.5rem 0.5rem  0.5em lightgrey;
    width:23rem;
    height:12rem;
    background-color:white;
}
div #page3-continer h3{
    font-weight:100;
    font-size:2rem;
    color:#EF5350;
    margin-bottom:1rem;
}
#input-text-box{
    border:0.07rem solid #EF5350;
    border-radius:0.4rem;
    box-shadow:0.3rem 0.3rem  0.4rem  lightgrey;
    width:70%;
    height:2rem;
    
}
#page3-button{
    margin-top:1rem;
    background-color:#E53935;
    border:0.05rem solid #EF5350;
    border-radius:1rem;
    color:white;
    width:25%;
    height:2rem;
    font-weight:100;
    font-size:1rem;
}

/* page-linker */
#page-linker{
    margin-top:3rem;
    font-size:2rem;
    text-align:center;
}
.linker-button{
    margin-left:2rem;
    color:#757575;
}

